body {
    font-family: 'Catamaran', sans-serif;
}

input {
    line-height: 2em;
    font-size: 2em;
    width: 10em;
    border-radius: 15px;
    border-color: black;
    padding-left: 1em;
}

input:focus {
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    outline: none;
}

h3 {
    font-size: 2em;
}

.contentWrapper {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.resultTitle {
    background-color: white;
    position: relative;
    top: -18px;
    left: 10px;
    font-size: 1.4em;
    text-decoration: none;
    color: blue;
    padding: 0 15px;
}

.resultItem {
    border: 1px solid black;
    border-radius: 10px;
    margin: 2em 0;
}

.resultItem p {
    padding: 0 1em;
}

#titleHeader {
    font-weight: 700;
    font-size: 3em;
}

#resultList {
    text-align: left;
}

#randomArticle {
    font-size: 1.7em;
    border: 1px solid black;
    padding: 0.3em 1.8em;
    text-decoration: none;
    border-radius: 15px;
    color: black;
}

#randomArticle:hover {
    border-color: blue;
    color: blue;
    -webkit-box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.75);
}

#resultList {
    margin-top: 3em;
}

@media (min-width: 481px) and (max-width: 768px) {
    .contentWrapper {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .contentWrapper {
        width: 100%;
    }
    #query {
        width: 90%;
    }
}
